<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CRUD</title>
    <!-- font-awesome icons -->
    <script src="https://kit.fontawesome.com/2d49de291b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='fav.png')}}">
    <style>
        .nav-link .profile-item:hover {
            background-color: #0d6efd;
            border-color: #0d6efd;
        }
    </style>
</head>
<body class="font-sans antialiased d-flex flex-column min-vh-100 bg-white">
    <div class="d-flex bg-white">
        <div class="d-none d-md-flex flex-column col-md-2 vh-100 sticky-top text-white bg-dark border-end">
            <div class="mx-auto py-5">
                <ul class="list-unstyled">
                    <a href="{{url_for('home')}}" class="nav-link">
                        <li class="px-3 py-1 d-flex align-items-center gap-2 mt-4 rounded profile-item 
                            {% if request.path == '/home' %} bg-primary border-primary {% endif %} 
                            border-primary cursor-pointer text-white">
                            <span class="fw-semibold"><i class="fa-solid fa-house"></i> Home</span>
                        </li>
                    </a>
                    <a href="{{url_for('products')}}" class="nav-link">
                        <li class="px-3 py-1 d-flex align-items-center gap-2 mt-4 rounded profile-item 
                            {% if request.path == '/products' %} bg-primary border-primary {% endif %} 
                            border-primary cursor-pointer text-white">
                            <span class="fw-semibold"><i class="fa-solid fa-box"></i> Products</span>
                        </li>
                    </a>
                    {% if session['type'] == 1 %}
                    <a href="{{url_for('users')}}" class="nav-link">
                        <li class="px-3 py-1 d-flex align-items-center gap-2 mt-4 rounded profile-item 
                            {% if request.path == '/users' %} bg-primary border-primary {% endif %} 
                            border-primary cursor-pointer text-white">
                            <span class="fw-semibold"><i class="fa-solid fa-users"></i> Users</span>
                        </li>
                    </a>
                    {% endif %}
                    <a href="{{url_for('logout')}}" class="nav-link">
                        <li class="px-3 py-1 d-flex align-items-center gap-2 mt-4 rounded profile-item 
                            {% if request.path == '/logout' %} bg-primary border-primary {% endif %} 
                            border-primary cursor-pointer text-white">
                            <span class="fw-semibold"><i class="fa-solid fa-right-from-bracket"></i> Logout</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="flex-grow-1 bg-white">            
            <!-- Page Content -->
            <main>
                <div class="container py-4 bg-white">
                    {% block bodycontent %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% block js %}
{% endblock %}
</html>